In [2]:
a=10
b=20

if(a==10 and b>20):
    print("this is a valid statement")
elif(a==10 and b<20):
    print("this is valid statement inside elif")
else:
    print("condition is not valid")

condition is not valid

In [3]:
a=10
b=20

if(a==10 or b>20):
    print("this is a valid statement")
elif(a==10 and b<20):
    print("this is valid statement inside elif")
else:
    print("condition is not valid")

this is a valid statement

In [4]:
#Question
"""
task:
take a input from your keyboard as your first name and last name and 
then try to validate by writing multiple conditions by yourself
"""

'\ntask:\ntake a input from your keyboard as your first name and last name and \nthen try to validate by writing multiple conditions by yourself\n'

In [6]:
p=input("Enter first name");

Enter first namesai krishna

In [7]:
q=input("Enter last name");

Enter last namevysyaraju

In [8]:
if(p== "sai krishna" and q=="vysyaraju"):
    print("then name will be vysyaraju sai krishna")
else:
    print("this name is not correct")

then name will be vysyaraju sai krishna

In [10]:
a=10
if a==10:print("this is correct")
#this is also one of the way of indentation .

this is correct

In [11]:
# while loop

In [12]:
i=1
j=5
while(i<j):
    print(i)
    i=i+1

1
2
3
4

In [13]:
#16:20

In [14]:
notes =5
i=1
while(i<notes):
    print(i)
    i +=1
else:
    print("no 10 rupees notes are available")

1
2
3
4
no 10 rupees notes are available

In [15]:
"""
observe the above code properly and
this is while-else and it is not just while loop.
so when the while loop fails then the else block executes .
so after completion of while loop the else block is executed.
"""

'\nobserve the above code properly and\nthis is while-else and it is not just while loop.\nso when the while loop fails then the else block executes .\nso after completion of while loop the else block is executed.\n'

In [16]:
notes =5
i=1
j=1
while(i<notes):
    print(i)
    i +=1
else:
    while(j<2):
        print(i)
        j=j+1
    print("no 10 rupees notes are available")

1
2
3
4
5
no 10 rupees notes are available

In [25]:
s="my name is sai krishna"
#string always try to store the data in the form of indexes

In [26]:
s[0]

'm'

In [27]:
s[2]

' '

In [28]:
s[26]

IndexError: string index out of range

In [32]:
s[3:10]

'name is'

In [34]:

"""
First parameter is starting index and second parameter is endindex where the last index is excluded
starting index is 3
and last index is 10-1
so the string contains index from 3 to 9 in the output
"""

'\nFirst parameter is starting index and second parameter is endindex where the last index is excluded\nstarting index is 3\nand last index is 10-1\nso the string contains index from 3 to 9 in the output\n'

In [2]:
s="my name is sai krishna"
s[3:10:2]
#here the third parameter is step size.
#by default the step size is 1.

'nm s'

In [3]:
s[10:3]
# by default the step size is 1 . And we want to print the elements from index 10 to index 2.but while printing after index 10 
#index 11 will come as default step size is 1 but we want to print till the 2nd index of the string.We want to come in reverse
# direction from index 10.
#here we are getting the conflict
#so whenever the conflict is created it prints just a empty string.
#as we want to move in reverse direction from index 10 to index 2 we need to give step size as -1.

''

In [4]:
s[10:3:-1]

' si ema'

In [6]:
s[: : -1]
#reversal of complete string 
# when we donot give anything in start index or ending index then by default it is going to print from
#last index to till zeroth index of the string directly by maintaining steep size as -1

'anhsirk ias si eman ym'

In [7]:
s[2:-6]

' name is sai k'

In [8]:
s[-1]

'a'

In [9]:
s[-2]

'n'

In [10]:
s[2:-6]

' name is sai k'

In [14]:
s="my name is sai krishna"
for i in s:
    if(i=="s"):
        print("i got s as string")
    print(i)

m
y

n
a
m
e

i
i got s as string
s

i got s as string
s
a
i

k
r
i
i got s as string
s
h
n
a

In [15]:
s="my name is sai krishna"
for i in s:
    if(i=="s"):
        print("i got s as string")
    print(i)
else:
    print("this is else condition")

m
y

n
a
m
e

i
i got s as string
s

i got s as string
s
a
i

k
r
i
i got s as string
s
h
n
a
this is else condition

In [16]:
# this is for else .
#when for loop exhausts then the else block will get executed.

In [17]:
s="my name is sai krishna"
for i in s:
    if(i=="n"):
        break
    print(i)
else:
    print("this is else condition")

m
y

In [18]:
"""
In the for-else if for-loop completes then only it enters into else.
as the break is executed in the for-loop ,for-loop terminates without completing the for-loop.
so the else block will not be executed here in this usecase.
the else block gets executed in for-else only if the for-loop completes its execuion.
so this is the reason because the print statement in else block is not executed in the above code.

"""

'\nIn the for-else if for-loop completes then only it enters into else.\nas the break is executed in the for-loop ,for-loop terminates without completing the for-loop.\nso the else block will not be executed here in this usecase.\nthe else block gets executed in for-else only if the for-loop completes its execuion.\nso this is the reason because the print statement in else block is not executed in the above code.\n\n'

In [19]:
s="my name is sai krishna"
for i in s:
    if(i=="n"):
        continue
    print(i)
else:
    print("this is else condition")

m
y

a
m
e

i
s

s
a
i

k
r
i
s
h
a
this is else condition

In [20]:
#as for loop gets completed so the else block also executes in the above code.
# here i values are m,y,n,a,m,e,i,s,...

In [21]:
s="ineuron"
ss=""
for i in range(len(s)):
    if(s[i]=="n"):
        continue
    ss=ss+s[i]
print(ss)

ieuro

In [22]:
#The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), 
# and stops before a specified number.

In [23]:
# so the i values are 0,1,2,3,4,5,6

In [26]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("+",end=" ")
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [ ]:
#1hour15min