In [1]:
# Artificial intelligence is a system or final product or final solution which can take final decision .
# self driver car is a system which can detect every object and based on the object system will take decision like left or right,
# speed, etc..

In [2]:
# AI is a final product or solution which can make intelligent decisions.

# tesla car takes decision based on the various aspects 

# Examples of ai in real life is prduct recommendation in amazon,tesla car, ola price detection for each ride,face detection,etc..
# is based on ai.

In [3]:
# In anaconda python will be there by default.

In [4]:
# whatever we can do with ananconda navigator the same thing can be done with anaconda prompt.But anacoda prompt is the 
# command line version of anaconda navigator .

# open anaconda prompt and type jupyter notebook . click enter . jupyter notebook will open .
# it is the way to launch .
# Jupyter notebook is a web interface.

In [6]:
# Whatever the code we write in jupyter notebook will not be executed directly by jupyter notebook.
# The code we write in jupyter notebook will be sent to python compiler and python is installed at the time of installing anaconda.
# So python compiler will give the responses .
# It looks like jupyter notebook is executing the code but it is wrong .

In [7]:
# If u want to download jupyter notebook then File-> Download as -> Notebook (.ipynb)

In [8]:
# in github repositories means just a folder.

In [10]:
# How to upload ineuron assignments ?

# goto github ->click on your profile ->create new repository -> click on upload an existing file -> add files -> commit changes

# now if u click on the file the file opens in github and u can copy the link which is on top and submit the assignment .

In [ ]:
'''
we can use python in 

1)System programming
2)GUI interface
3)web scrapping
4)Data bases
5)Scientific programming
6)Game development
7)Image processing
8)Robotics


'''

In [11]:
import this 

# after executing import this we will get output which describes something about python .
# tagline of python

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [8]:
print("i am sai krishna")

i am sai krishna

In [12]:
# keep pointer inside print function and then click shift + tab then u will see the definition of print function .

In [ ]:
len()
# if u want to know description of any function then keep pointer inside that function and then click shift + tab

In [13]:
1/3

0.3333333333333333

In [14]:
1+2

3

In [16]:
# Python supports two way of programming

# 1) scripting
# 2) oops

In [17]:
# Modular coding is recquired to build enterprise applications.

In [18]:
#Let consider i want to watch movies and movies are present in the hard disk. 
# so we will connect hard disk to our system and then the movies present in the hard disk will be loaded to RAM and from RAM the
# data is processed by cpu and then we will see the action which is watching movie. so in this way we could able to watch movies finally.

In [9]:
#my name is vsk
#single line comments

In [10]:
"""fhhjhjjddh
   bdldhbld
   dgldmhmhd"""
#multi line comments

'fhhjhjjddh\n   bdldhbld\n   dgldmhmhd'

In [20]:
a=10
# when we assign some value to variable then variable will be created and variable will be stored in the RAM . 
# A reference with name 'a' will be created and whenever the variable 'a' is called it will look for the value of 10 . 
# variable is used to store data.

In [12]:
a

10

In [22]:
type(a)
# type function will tell the type of the data the variable stores.

int

In [23]:
c=12.36
type(c)

float

In [25]:
d=9+5j
type(d)

complex

In [32]:
s=True
type(s)

bool

In [26]:
a='sudh'
b="sudh"

In [29]:
a

'sudh'

In [30]:
b

'sudh'

In [31]:
# Here both variable 'a' and 'b' holds the same value .Single quote and Double quote both are same.
# But we get outout with single quote only everytime.

In [14]:
b="sai krishna"

In [15]:
print(b)

sai krishna

In [16]:
a,b,c=10,20,30

In [17]:
print(c)

30

In [18]:
print(a)

10

In [19]:
a b c

SyntaxError: invalid syntax (3354477639.py, line 1)

In [20]:
print(a,b,c)

10 20 30

In [21]:
a,b,c

(10, 20, 30)

In [22]:
s=True

In [23]:
type(s)

bool

In [41]:
# Internally True means 1 and False means 0.
print(True + True + True + False + True)

4

In [25]:
print(False-True+True)

0

In [26]:
print(True/False)

ZeroDivisionError: division by zero

In [34]:
a=34+10j

In [35]:
type(a)

complex

In [36]:
a

(34+10j)

In [37]:
# Let consider i want to acess real part from the complex number so to check whether any possible inbuilt function exist or not 
# to acess real part of a complex number.

# you have to write variablename and then dot and click on tab .Then u will see all the inbuilt functions possible.

# a. now press tab
# Here variable name is 'a' .

In [30]:
a.real

34.0

In [31]:
a.img

AttributeError: 'complex' object has no attribute 'img'

In [32]:
a.imag

10.0

In [39]:
# Let consider i want to know all the in-built methods present in a string.
# a="sai"
# a. now press tab u will see .

In [33]:
1+"sai "

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
1 + "susdh"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
str(1)+"sai"

'1sai'

In [36]:
'1' + 'sai'

'1sai'

In [37]:
"sai"+ "sai" + "sai"

'saisaisai'

In [38]:
"sai" *3

'saisaisai'

In [39]:
a=input()

sai

In [40]:
a

'sai'

In [41]:
a=input()

dssla

In [42]:
type(a)

str

In [47]:
a=input()
# By default whatever data we are going to pass through input function it will always try to 
# convert everything into string format.

45

In [49]:
b=int(a)

In [46]:
print(a)

45

In [53]:
a,b,c =10,20,30

In [54]:
print(a,b,c)

10 20 30

In [55]:
o= (a+b)/c

In [56]:
print(o)

1.0

In [57]:
b=3+4j

In [58]:
o1=o+3+4j

In [59]:
print(o1)

(4+4j)

In [60]:
o1=o1 + "sai krishna"

TypeError: unsupported operand type(s) for +: 'complex' and 'str'

In [54]:
a=input()
# for a user input we use input function.

45

In [55]:
b=int(a)

In [63]:
a=int(input("Enter a number "))

Enter a number 12

In [64]:
print(a)

12

In [65]:
type(a)

int

In [66]:
a=int(input("Enter a number"))
if a<34 :
    print("less than 34")
elif a<100:
    print("less than 100")
else :
    print("more than 100")

Enter a number30
less than 34

In [67]:
firstname=input("Enter first name")
lastname=input("Enter last name")
if(firstname== "sai" and lastname=="krishna"):
    print("correct name")
else:
    prnt("wrong name")

Enter first namesai
Enter last namekrishna
correct name

In [68]:
#while loop
initial =0
final =100
while initial < final :
    print(initial)
    initial =initial + 5
    if initial==100:
        break

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [69]:
s="krishna"

In [70]:
s[3]

's'

In [71]:
s[12]

IndexError: string index out of range

In [79]:
n=7
for i in range(n):
    for j in range(i+1):
        print("+ ",end="")
    print("\r")
# In Python, \r stands for the carriage return character. It does reset the position of the cursor
# to the start of the current line.

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [80]:
n=7

for i in range(n):
    for k in range(i):
        print("  ",end="")
    for j in range(2*(n-i)-1):
        print("*",end=" ")
    print("\r")

* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [ ]:
#using while loop
n=7
i=0
while i<n:
    print(' ' * (n-i-1) + "* "* (i+1))
    i+=1

In [ ]:
#using for loop
a=7
for i in range(a):
    for j in range(a-i-1):
        print(' ',end="")
    for k in range(i+1):
        print("* ",end="")
    print("\r")

In [ ]:
l=list()
#list can hold hoomogeneous or heterogeneous type of data
name="sai"
phone=9010
address="vizag"

#we can hold all these data in a single list datastructure.
#using list in a single variable we can hold all the data

In [1]:
l=["sai",9010,"vizag"]

In [2]:
l

['sai', 9010, 'vizag']

In [3]:
l[0]

'sai'

In [4]:
l[1]

9010

In [5]:
l[2]

'vizag'

In [6]:
type(l)

list

In [7]:
v1=[]
# empty list

In [8]:
type(v1)

list

In [9]:
d1=list()
print(d1)
#we get empty list

[]

In [ ]:
# we can hold list,normal numbers,decimal numbers,complex number,strings,boolean,etc..   inside list
l=["sai",9010534,"vizag",3+4j,4.5666,True,[3,4,5,6]]
#list always store the data in the using indexes

In [ ]:
l

In [ ]:
for i in l:
    print(type(i))

In [ ]:
a=["sai",9010534,"vizag",3+4j,4.5666,True,[3,4,5,"krishna"]]

In [ ]:
a

In [ ]:
#in this way we can count the integers present in the list.
for i in a :
    if type(i) == list :
        n=0
        for k in i :
            if type(k)== int:
                n=n+k
        print(n)

In [ ]:
a=["sai",9010534,"vizag",3+4j,4.5666,True,[3,4,5,"krishna"]]

In [ ]:
a[0:5]

In [ ]:
a[0]

In [ ]:
a[8:3]
#by default the step will be 1

In [ ]:
a[8:3:1]
#here the index 8 is not there but we will not get any error because here we are talking about the range not about the particular i
# indexes

In [ ]:
a[80:3:-1]

In [ ]:
""" 
whatever we can do in string 
whatever we can do in list
whatever we can do in range

interms of traversal of data,all are same

"""

In [ ]:
list(range(50))

In [ ]:
list(range(10))

In [ ]:
l=[1,2,3,3,44,4,44,4,4,4,4,4]

In [ ]:
len(l)
#used to find the length of list

In [ ]:
print("kri\nshna")

In [ ]:
print("kri\rshna")

# 8 th video notes

In [ ]:
"""
String can be create in two ways
f="sai"
g='sai'

"""

In [ ]:
s="sai krishna is learning full stack data science from i neuron that's why he is so serious"
#string is enclosed between double quotes and we can use single quote in the middle
#this works fine because in between double quotes we are using single quote so we don't get any error

In [ ]:
s="sai krishna is learning full stack data science from i neuron that"s why he is so serious"
#string is enclosed between double quotes and we can't use double  quote in the middle again .
# here we get error because double quotes are used again in between the string again.

In [ ]:
s='sai krishna is learning full stack data science from i neuron that"s why he is so serious'
#string is enclosed between single quotes and we can use double quote in the middle
#this also woeks fine because in between single quotes we have used double quote

In [ ]:
# if we use single quotes at the edges then we should use doule quotes in between
# if we use double quotes at the edges then we should use single quotes in between

In [28]:
s="sai krishna is good person"
# when the variable s is created,indexes will be created internally for each character and a reference s is also created.
# Indexing starts from zero.
# Each character of a string can be acessed using index.
# from forward direction indexing starts from zero like 0,1,2,3,4,5,6,..
# from backward direction indexing starts from -1 like -1,-2,-3,-4,-5,-6,...

In [29]:
s[0]

's'

In [30]:
s[-1]

'n'

In [31]:
s[0:5]
# starting from index zero to till index 4 . Imdex 5 is excluded.

'sai k'

In [32]:
s[100]
# gives error because index 100 is not there for this string.

IndexError: string index out of range

In [33]:
s[0:100]
# everyone think this gives error but it will not give error.
# Incase of ranges we are not going to get the error.

'sai krishna is good person'

In [34]:
s[-100]

IndexError: string index out of range

In [38]:
s[::]
# by default starting index is zero 
# by default ending index is taken as length of the string .
# by default step size is 1

'sai krishna is good person'

In [22]:
s[-1:-100]

''

In [36]:
s[0:-100:-1]

's'

In [23]:
s[-100:-1]

'sai krishna is good perso'

In [24]:
s[::-1]
# this will reverse the string s.

'nosrep doog si anhsirk ias'

In [40]:
s[-1::-1]
# also this will reverse the string.

'nosrep doog si anhsirk ias'

In [37]:
s[-1:2:-1]
#if you want to move backward then step size should be negative 
#if you want to move forward then step size should be positive


# First one is starting index
# Second one is ending index where ending index is excluded
# Third one is the step size.

'nosrep doog si anhsirk '

In [26]:
s[-1:2:1]

''

In [44]:
a="i am working with ineuron"

In [45]:
a[-5:5:-1]

'eni htiw gnikro'

In [27]:
# By default jump size is 1.

In [ ]:
for i in s:
    print(i)

In [ ]:
len(s)

In [ ]:
for i in range(len(s)):
    print(s[i])

In [ ]:
s="saikrisshna"

In [ ]:
s[0]="t"
"""
Strings are immutable objects means at any location you won't be able to replace one character with any other character.

"""

In [ ]:
g=["sai",23,"vizag"]

In [ ]:
g[0]="ganesh"

In [ ]:
g

In [ ]:
# lists are mutable objects means we can replace one data with other data

In [ ]:
"sai "+"krishna"

In [ ]:
# plus acts as concatenation in between strings.

In [ ]:
"sudh"+["krishna"]
# we get error here because both are of different type.one is string and other was list.

In [ ]:
"sai"+"3"

In [ ]:
s="sai krishna is a good boy"

In [ ]:
# if you want to know the inbuilt functions in the string then click the string variable name and 
#then enter dot and then press tab you will see all the inbuilt functions present in that string.
# string variable name.and then press tab button
#s. and then press tab

In [46]:
m="my name is ganesh"

In [47]:
m.find("a")

4

In [ ]:
# find function looks for first occurance of the substring in the actual string.
#return the index of first occurence
#if the substring is not present in that string then we get return as -1 means there is no match.

In [ ]:
m.find("mn")

In [ ]:
# -1 means this substring is not available in the actual string.

In [ ]:
m.find("name")

In [ ]:
s="my name is sai and my friend name is chandra kiran "

In [ ]:
#recquirement is to find the index of n,a,m,e in the substring name

In [ ]:
b=s.find("name")
for i in range(len("name")):
    print(b+i)

In [48]:
s="my name is sai krishna and my father name is tirupati"

In [50]:
s.count("name")
# count function tells the number of occurences of a particular string.

2

In [ ]:
s.split()
# by default split function takes space as a seperator 
# split function return the list of the data

In [ ]:
s.split("and")
# here the delimiter is and

In [ ]:
d="my name is sai, my nick name is ganesh"

In [ ]:
d.split(",")

In [ ]:
type(d.split(","))
#return type of the split function is list

In [ ]:
d.lower()

In [ ]:
d.upper()

In [63]:
s="My Name is sai Krishna"

In [64]:
s.swapcase()
#swapcase function converts uppercase into lowercase letters and lowercase into uppercase letters.

'mY nAME IS SAI kRISHNA'

In [ ]:
" ".join(s)
#Everything is seperated by space.

In [ ]:
"b".join(s)
#Everything is seperated by b.

In [ ]:
s="My name is sai Krishna"
reversed(s)
#reversed function is used to reverse the string here
# we can reverse the string using s[::-1]

In [ ]:
# we get output in the object format if we use reversed function.

In [ ]:
list(reversed(s))

In [ ]:
for i in reversed(s):
    print(i)

In [ ]:
s="    sai krishna   "

In [ ]:
s.strip()
#strip function will remove all the whitespaces before and after the string .
#strip function will not remove the whitespaces in between the string

In [ ]:
s="sai     krishna"

In [ ]:
s.strip()

In [ ]:
s=" sai krishna dvslvvv  "

In [ ]:
s.lstrip()
# lstrip function is used to remove left side white spaces in the string

In [ ]:
s.rstrip()
# rstrip function is used to remove right side white spaces in the string

In [ ]:
s.strip()
# removes both left and right side white spaces in the string

In [11]:
s="greetings from ineuron"

In [12]:
s.replace("g","d")

'dreetinds from ineuron'

In [13]:
s.replace("g","vsk")

'vskreetinvsks from ineuron'

In [14]:
s.replace("gr","sai")

'saieetings from ineuron'

In [ ]:
s

In [ ]:
# there is no changes in the original string

In [ ]:
s="sai"

In [ ]:
s.center(20,"b")
# output has length of space as 20 and the centre of the output is string s and remaining vacant places are filled with b

In [ ]:
s.center(23,"by")
# here we get the error because in the second argument we can give a string of single character only .

In [ ]:
s.center(22,"#")

In [ ]:
s="sai\tkrishna"

In [ ]:
s.expandtabs()

In [52]:
a="we all are a part of Full Stack"

In [53]:
a=a.lower()

In [54]:
a

'we all are a part of full stack'

In [55]:
a.count("a")

5

In [56]:
for i in range(len(a)):
    if a[i]=="a":
        print(i)

3
7
11
14
28

In [57]:
a=a.replace("a","iNeuron")

In [58]:
a

'we iNeuronll iNeuronre iNeuron piNeuronrt of full stiNeuronck'

In [61]:
a.split(" ")
# In split function the default seperator is space.

['we',
 'iNeuronll',
 'iNeuronre',
 'iNeuron',
 'piNeuronrt',
 'of',
 'full',
 'stiNeuronck']

In [60]:
type(a.split(" "))

list

In [15]:
s="sai krishna"

In [16]:
# isalpha,isdigit,isdigit,isidentifier,etc... any inbuilt funcion which is starting 
# with "is" return boolean type result True or False

In [17]:
s.isupper()

False

In [18]:
s.islower()

True

In [19]:
s="    "

In [20]:
s.isspace()

True

In [21]:
s="  x "

In [22]:
s.isspace()

False

In [23]:
s="1234"

In [24]:
s.isdigit()

True

In [25]:
s="biotonicg"

In [26]:
s.endswith("g")

True

In [27]:
s.startswith("b")

True

In [28]:
s="123"

In [29]:
s.isalnum()
# The isalnum() method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) or
# numbers (0-9) or both containing alphabets and numbers

True

In [30]:
s="sai"

In [31]:
s.isalnum()

True

In [32]:
s="123absc"

In [33]:
s.isalnum()

True

In [34]:
s="saikrishna"

In [35]:
s.isalpha()
# return true if all the characters are alphabets

True

In [36]:
s="Fds"

In [37]:
s.istitle()
# istitle() function will check whether first character is uppercase or not . if firstcase is upper then returns true

True

In [ ]:
s="fds"

In [ ]:
s.istitle()

In [ ]:
s="i have joined in full stack data science batch"

In [ ]:
len(s)

In [ ]:
# i want to count the length of string without using any inbuilt functions

In [ ]:
count=0
for i in s:
    count+=1
print(count)

In [ ]:
# i want to reverse string without using any inbuilt and s[::-1]

In [65]:
s="sai krishna"

In [67]:
s.title()
# first letter will be upper case and remaining characters are lower case.

'Sai Krishna'

In [68]:
s.capitalize()

'Sai krishna'

In [69]:
# title() and capitalize() gives almost the similar result

In [4]:
b="sai"
c="ineuron"
b.join(c)
# after every character in ineuron string b is joined .

'isainsaiesaiusairsaiosain'

In [5]:
# Syntax 
# string.join(iterable)
# The join() method takes all items in an iterable and joins them into one string.

In [6]:
" ".join("sai")

's a i'

In [2]:
a="sai"
b="krishna"
"sai".join(b)

'ksairsaiisaissaihsainsaia'