# Tuples

In [1]:
t = (1,2,3,4,5)

In [2]:
type(t)

tuple

In [3]:
# Tuples and List comparisions

In [4]:
t1 = ("sudh" , 345 , 45+78j , 546.56 ,True)

In [5]:
 l = ["sudh" , 345 , 45+78j , 546.56 ,True]

In [6]:
type(t1)

tuple

In [7]:
type(l)

list

In [8]:
t2 = ()

In [9]:
type(t2)

tuple

In [10]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [11]:
l

['sudh', 345, (45+78j), 546.56, True]

In [12]:
l[0:2]

['sudh', 345]

In [13]:
t1[0:2]

('sudh', 345)

In [14]:
t1[::-1]

(True, 546.56, (45+78j), 345, 'sudh')

In [15]:
t1[-1]

True

In [16]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [17]:
t1[0::2]

('sudh', (45+78j), True)

In [18]:
# Item reassignment is possible in list but item reassignment is not possible in tuple.
# Because tuple is immutable.

In [19]:
l

['sudh', 345, (45+78j), 546.56, True]

In [20]:
l1 = [4,5,6,7]

In [21]:
l[0] = "kumar"

In [22]:
l

['kumar', 345, (45+78j), 546.56, True]

In [23]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [24]:
t1[0] = "xyz"
# tuples are immutable but lists are mutable .

TypeError: 'tuple' object does not support item assignment

In [25]:
s = "sudh"

In [26]:
s[0] = 45
# Here we get eror because string is also immutable.
# string reassignment is not possible in strings.

TypeError: 'str' object does not support item assignment

In [27]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [28]:
t2 = (34,56,56,56,5,656)

In [29]:
t1+t2
# when we add two tuples append operation is going to work .
# this works for list also .

('sudh', 345, (45+78j), 546.56, True, 34, 56, 56, 56, 5, 656)

In [30]:
l

['kumar', 345, (45+78j), 546.56, True]

In [31]:
l1

[4, 5, 6, 7]

In [32]:
l+l1

['kumar', 345, (45+78j), 546.56, True, 4, 5, 6, 7]

In [33]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [34]:
t1*2

('sudh', 345, (45+78j), 546.56, True, 'sudh', 345, (45+78j), 546.56, True)

In [35]:
# Inside tuple there are two functions only count and index function.

In [36]:
t1

('sudh', 345, (45+78j), 546.56, True)

In [37]:
t1.count("sudh")
# count function tells the number of occurences of a particular item in a collection.

1

In [38]:
t1.index("sudh")

0

In [39]:
# If u want to check all the in-built function present in the list then create some list.
# Here we have created list l below and then write l. and click tab then u will see all the functions inside list.
# There are many in-built functions in list u will see.

In [40]:
l

['kumar', 345, (45+78j), 546.56, True]

In [ ]:
l.

In [41]:
# If u want to check all the in-built function present in the tuple then create some tuple.
# Here we have created tuple t below and then write t. and click tab then u will see all the functions inside list.
# Inside tuple there are two functions only count and index function.
# Bcause of immutability so many functions doesn't work.

In [42]:
t = (45,54,54,5, (4,5,6) , ("sudh"))
# Nested tuples are possible.

In [43]:
# We can't change the index of a tuple directly because of it's immutability feature but inside a elemnt of tuple if we 
#have collection which supports mutability then we can change definitely .

In [44]:
t

(45, 54, 54, 5, (4, 5, 6), 'sudh')

In [46]:
t1 = ([3,4,54,6]  , ("sd" , 435,56) , "ushd")

In [47]:
t1[0][2] = "sudh"
# inside a element of tuple if we have collection which supports mutability then we can change definitely .

In [48]:
t1

([3, 4, 'sudh', 6], ('sd', 435, 56), 'ushd')

In [49]:
t1[0] = "sdfsaf"
We can't change the index of a tuple directly because of it's immutability feature like this.

SyntaxError: invalid syntax (97596675.py, line 2)

In [50]:
# Tuples and list cannot be concatenated because both  list and tuple are heterogeneous and 
# only homogeneous collections can do concatenation.

In [51]:
t1 = (53,54,45,4,5,4,54)

In [52]:
l  = list(t1)

In [53]:
l

[53, 54, 45, 4, 5, 4, 54]

In [54]:
tuple(l)

(53, 54, 45, 4, 5, 4, 54)

In [55]:
# Conversion of list to tuple is possible.
# Conversion of tuple to list is possible.

In [56]:
l = [1,2,3,4,5,6,76,5,5,5,5,5,5,5,2,3,4,5,6,1,2,3]

# let consider a task is given where i have to remove all the duplicates present in this list l 
# so just by using set function we can do that very easily .
# set(l) gives only all the unique elements present in the list l.

In [57]:
# List has square brackets.
# Tuple has normal brackets
# Set has curly brackets.

# Sets

In [58]:
set(l)

{1, 2, 3, 4, 5, 6, 76}

In [59]:
s = {}
# Empty set is conisdered as a dictionary by default.

In [60]:
type(s)

dict

In [61]:
s1 = {2,3,4}

In [62]:
type(s1)

set

In [63]:
s2={1,1,1,1,1,1,2,3,4,54,4,3,3,2,54}
# Even if there are so many duplicate elements in the set but all the duplicate elements will be removed by default and
# this is the core property of the set.

In [64]:
s2

{1, 2, 3, 4, 54}

In [65]:
s2[0]

TypeError: 'set' object is not subscriptable

In [66]:
# A set is a collection which is unordered, unchangeable, and unindexed.

In [67]:
list(s2)
# If we want to acess any element in the set then we can change the set into the list .

[1, 2, 3, 4, 54]

In [70]:
s2

{1, 2, 3, 4, 54, 89777}

In [71]:
s2.add(89777)
# add function is used to add elements in the set.

In [72]:
s2

{1, 2, 3, 4, 54, 89777}

In [73]:
s2.add("sudh")

In [74]:
s2

{1, 2, 3, 4, 54, 89777, 'sudh'}

In [76]:
s2.add([3,4,5,6])
# we cannot add a list in a set.

TypeError: unhashable type: 'list'

In [77]:
{[3,4,5,6] ,3,4,5,3,4,5}

# We cannot add lists in a set because sets always hold the unordered collection of unique elements.
# sets try to find the uniquness in between primitive data types not in between collection.
# so this is the reasons sets allow primitive data types like string,complex number,floating point number,integer.
# sets doesn't allow u to add any collection which is mutable.
# we can add collection which is immutable in sets.
# This is the reason why sets doesn't allow lists but allows tuples inside a set.

TypeError: unhashable type: 'list'

In [78]:
# we can add a list in the tuple .
# we can add a tuple inside the tuple.

In [79]:
s = {(3,4,5,6) ,(3,4,5,6) ,3,4,5,3,4,5}

In [13]:
s
# sets always remove the duplicates.

{(3, 4, 5, 6), 3, 4, 5}

In [14]:
s.remove(4)
# remove function removes the particular element present in a set.

In [15]:
s

{(3, 4, 5, 6), 3, 5}

In [16]:
s.discard(5)
# discrd function removes the particular elements present in a set.

In [17]:
s

{(3, 4, 5, 6), 3}

In [ ]:
# Both remove function and discard function looks like same .Both remove the elements present in the set.
# But there is a one difference between remove and discard function.
# When we try to remove element which is not present in a set using remove() then remove function gives key error.
# when we try to remove element which is not present in a set using discard() then we dont get error.

In [18]:
s.remove(45)

KeyError: 45

In [20]:
s.discard(45)

In [21]:
s

{(3, 4, 5, 6), 3}

In [22]:
# As set is unordered collection so we cannot acess elements through indexes. As there are no indexes so we cannot able to 
# perform manipulation operations in a set so set is neither mutable nor immutable.
# we cannot acess elements in set until and unless we do typecasting to other collection.so set is neither mutable nor immutable.

In [86]:
{"sudh" ,"Sudh"}
# sets is case-sensitive

{'Sudh', 'sudh'}

In [87]:
s = {4,5,6,7,78 , 3,4,5,3,4,5 , "sudh" , "sudh"}
# set works well for strings and integers .
# so set can be able to remove duplicates of type string and integer.

In [88]:
s

{3, 4, 5, 6, 7, 78, 'sudh'}

In [89]:
l = [3,4,5,6]

In [90]:
set(l)
# set function is converting from list to set.

{3, 4, 5, 6}

In [93]:
d = {3,4}

In [94]:
type(d)

set

In [ ]:
# wherever we want to remove the duplicates then we can use the set.

# Dictionary

In [1]:
s={}

In [2]:
type(s)

dict

In [95]:
d = {4:"sudh"}
# Dictionary is another kind of collection which always holds data in the key-value pair.

In [3]:
d1 = {"key1" : 5445 , "key2" :"sudh" , 45 : [3,4,5,6]}

d1["key1"]

5445

In [99]:
l = [3,4,5,6,7]
# If we consider in the list indexes are considered as keys.
# keys are indexes - 0,1,2,3,4
# values are - 3,4,5,6,7
# l[0]=3

In [100]:
d1

{'key1': 5445, 'key2': 'sudh', 45: [3, 4, 5, 6]}

In [101]:
l[0]

3

In [102]:
d1['key1']

5445

In [103]:
d1[45]

[3, 4, 5, 6]

In [115]:
d = {"KEY":{3,4,5,6}}

In [4]:
d2={#:["sai","krish",1,3,5]}
# here we get error because special case characters cannot be considered as keys in a dictionary.
# special case characters like #,@,*,etc...

SyntaxError: incomplete input (170335651.py, line 1)

In [5]:
d3={_4:"sai"}
# we get error because _ cannot be used in a key of the dictionary.

NameError: name '_4' is not defined

In [6]:
d4={.4:"sai"}
# Here .(dot) is considered as a key value because .4 means 0.4 in the key value of dictionary.

In [14]:
d3= {"*+++":"venu"}
# This is accepted because the key here is string not the special case character.

In [7]:
d5={25:(1,2,3,4,5)}
# to store value as tuple is possible in the dictionary .

In [11]:
d6={"sai":{1,2}}
# to store value as set is possible in the dictionary.

In [ ]:
# Both dictionary and set has curly brackets notation but the difference is if we create key-value pair then
# it is considered as dictionary . If we have flat elements then it is conisered as a set.

In [119]:
d1 = {"key1" : [2,3,4,5]  , "key2":[2,3,4,5], "kumar" :45}
# list can be considered as value in the dictionary.

In [120]:
d1['key1']

[2, 3, 4, 5]

In [121]:
d1['kumar']

45

In [12]:
d7={"key1" : [2,3,4,5]  , "key2":[2,3,4,5], "key1" :45}

In [13]:
d7["key1"]
# the latest value of a particular key will be stored in a dictionary.

45

In [ ]:
# In a dictionary the keys are unique always and there can be many values for a particular key and the 
# latest value will be considered as the value for a particular key.

In [15]:
d = {'name' : "sudhanshu" , "mo_no" :3454354353 , "mail_id" :"sudhanshu@xyz.com",'key1':[4,5,6,7] , "key2" :(3,4,5,6),"key3" : {3,4,5,4,3,3,3,3,3,3,3},'key4':{1:5,4:6}}

In [16]:
# key wise there is no restriction in dictionary and values wise we can consider 
# tuple,list,dictionary,set,string,integer in dictionary.

In [17]:
d

{'name': 'sudhanshu',
 'mo_no': 3454354353,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 'key4': {1: 5, 4: 6}}

In [18]:
type(d['key3'])

set

In [19]:
d['key4'][4]

6

In [20]:
d

{'name': 'sudhanshu',
 'mo_no': 3454354353,
 'mail_id': 'sudhanshu@xyz.com',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key3': {3, 4, 5},
 'key4': {1: 5, 4: 6}}

In [21]:
d.keys()
# keys function gives the list of all the keys present in the dictionary.

dict_keys(['name', 'mo_no', 'mail_id', 'key1', 'key2', 'key3', 'key4'])

In [22]:
d.values()
# values function gives the list of all the values present in the dictionary.

dict_values(['sudhanshu', 3454354353, 'sudhanshu@xyz.com', [4, 5, 6, 7], (3, 4, 5, 6), {3, 4, 5}, {1: 5, 4: 6}])

In [23]:
d.items()
# items function gives list of all items in the key-value pair as a list of tuples.

dict_items([('name', 'sudhanshu'), ('mo_no', 3454354353), ('mail_id', 'sudhanshu@xyz.com'), ('key1', [4, 5, 6, 7]), ('key2', (3, 4, 5, 6)), ('key3', {3, 4, 5}), ('key4', {1: 5, 4: 6})])

In [134]:
type(d.items())

dict_items

In [135]:
d = {'key1' : "sudh" , "key2" : [1,2,3,4]}

In [136]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4]}

In [137]:
d["key3"]  = "kumar"
# If key is not avaiable and  then new key is created with it's value.
# If the key is already present snd then the value will get updated.

In [138]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [139]:
d[4] = [2,4,4,4,5,4]

In [140]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar', 4: [2, 4, 4, 4, 5, 4]}

In [141]:
d['key1'] = "fsafsadfads"

In [142]:
d

{'key1': 'fsafsadfads',
 'key2': [1, 2, 3, 4],
 'key3': 'kumar',
 4: [2, 4, 4, 4, 5, 4]}

In [143]:
del d['key1']
# if we want to delete particular key in a dictionary then we have to delete in this way.

In [144]:
d

{'key2': [1, 2, 3, 4], 'key3': 'kumar', 4: [2, 4, 4, 4, 5, 4]}

In [145]:
del d 
# if we want to delete the entire dictionary then we have to delete in this way.

In [146]:
d
# we get error because we have deleted the dictionary.

NameError: name 'd' is not defined

In [24]:
d1 = {'key1' : "sudh" , 'key2' : [4,5,6,7,8]}

In [25]:
d1[[1,2,3]] = "ineuron"
# key as list is not possible in the dictionary.

TypeError: unhashable type: 'list'

In [26]:
d1[(1,2,3)] = "ineuron"
# Here tuple as a key is accepted in a dictionary because tuple is immutable.
# if a collection is immutable then it is going to be accepted as a key in a dictionary.

In [150]:
d1

{'key1': 'sudh', 'key2': [4, 5, 6, 7, 8], (1, 2, 3): 'ineuron'}

In [153]:
d1.get("key1")

'sudh'

In [3]:
d1 = {'key1' : "ineruon" , "key"  : "FSDS"}

In [4]:
d2 = {"key2":456 , "key3" :[1,2,3,4,5]}

In [156]:
d1.update(d2)
# The update() method inserts the specified items to the dictionary.

In [157]:
d1

{'key1': 'ineruon', 'key': 'FSDS', 'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [158]:
d2

{'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [159]:
d1+d2
# Eventhough both d1 and d2 are of same type of collection but '+' operator doesn't work for dictionaries
# '+' works fine work for lists and tuples.

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [1]:
t1 = ("aditya",1,1+2j,3.4,True)
t1.index(True)
# Here True is also considered as 1 and at index 1 already 1 is there.
# 1 is returned here.

1

In [5]:
d1

{'key1': 'ineruon', 'key': 'FSDS'}

In [6]:
d2

{'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [ ]:
# d1['key1'] gives output as 'ineuron'
# d1.get('key1') also gives output as 'ineuron' 

the difference between these two are ?

Let consider we have use the key which is not present in the dictionary then 

d1[key] gives key error but d1.get(key) doesn't give any error.

In [9]:
d1['keyfdsf']

KeyError: 'keyfdsf'

In [10]:
d1.get('key1fdsf')

In [11]:
d1

{'key1': 'ineruon', 'key': 'FSDS'}

In [27]:
d2={}
key= ("name" , "mobile_no" , "email_id")
value = ("sudh" , "fdsf" ,"dsf")
d4=d2.fromkeys(key,value)

In [28]:
d4

{'name': ('sudh', 'fdsf', 'dsf'),
 'mobile_no': ('sudh', 'fdsf', 'dsf'),
 'email_id': ('sudh', 'fdsf', 'dsf')}

In [15]:
t1=(1,2,3,4,'dfs',True)
t1.index(True)
# Here True is considered as 1.

0

In [28]:
type(t1)

int

In [29]:
t = ([1,2,3,4,54] , "dfsf" , 234)

In [30]:
t[0]

[1, 2, 3, 4, 54]

In [32]:
t[0][1]  = "dfsfs"

In [33]:
t

([1, 'dfsfs', 3, 4, 54], 'dfsf', 234)

In [36]:
s = {45,343,5454,545,565,65,65,6,56,56,5,343534,566,5,65,6,5,4353543,4,556}

In [37]:
s

{4, 5, 6, 45, 56, 65, 343, 545, 556, 565, 566, 5454, 343534, 4353543}

In [44]:
i = 4,5
# if we give multiple values in a single variable then by default it will be considered as a tuple .

In [45]:
i

(4, 5)

In [46]:
d1 *2
# multiplication operator doesn't work for dictionaries.

TypeError: unsupported operand type(s) for *: 'dict' and 'int'