In [13]:
s = "sudh"

In [14]:
type(s)

str

In [15]:
s[0]

's'

In [16]:
s[1]

'u'

In [17]:
s[2]

'd'

In [18]:
s[3]

'h'

In [19]:
s[-1]

'h'

In [20]:
s[-2]

'd'

In [2]:
a = "my name is sudh"

In [3]:
a[-1]

'h'

In [4]:
a[0]

'm'

In [5]:
a[100]

IndexError: string index out of range

In [6]:
a

'my name is sudh'

In [7]:
a[0:100]
# We are taking ranges so we dont get error.

'my name is sudh'

In [8]:
b = "ineuron"

In [9]:
b[0:3]

'ine'

In [10]:
b[0:300]

'ineuron'

In [11]:
b[300]

IndexError: string index out of range

In [12]:
b[-100]

IndexError: string index out of range

In [13]:
b[-1:-4]

''

In [14]:
b[0:4]

'ineu'

In [15]:
a = "kumar"

In [16]:
a[0:300:1]

'kumar'

In [17]:
a[0:300:3]

'ka'

In [18]:
a[0:100:-1]

''

In [19]:
a[-1:-4:-1]

'ram'

In [20]:
a[0:-10:-1]
# this i have a doubt here.

'k'

In [21]:
a

'kumar'

In [22]:
a[::]

'kumar'

In [23]:
a[:8]
# here also we are considering the whole string so we dont get error.

'kumar'

In [24]:
a[-2:-1]

'a'

In [25]:
a

'kumar'

In [26]:
a[::-1]
# to reverse the string

'ramuk'

In [27]:
a[-1::-1]
# Here ending index becomes -(lenhth of string) .

'ramuk'

In [28]:
a = "i am working with ineuron"

In [29]:
a[::-1]

'norueni htiw gnikrow ma i'

In [30]:
a[-5:5:-1]

'eni htiw gnikro'

In [31]:
a[-2:-10:-1]

'orueni h'

In [32]:
a[0:100:3]

'imoi tiun'

In [33]:
"sudh"*3

'sudhsudhsudh'

In [34]:
"sudh" + "kumar"

'sudhkumar'

In [35]:
a

'i am working with ineuron'

In [36]:
len(a)

25

In [37]:
"sudh"*4

'sudhsudhsudhsudh'

In [38]:
a

'i am working with ineuron'

In [39]:
'''

The find() method finds the first occurrence of the specified value.

The find() method returns -1 if the value is not found.

The find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.


'''

'\n\nThe find() method finds the first occurrence of the specified value.\n\nThe find() method returns -1 if the value is not found.\n\nThe find() method is almost the same as the index() method, the only difference is that the index() method raises an exception if the value is not found.\n\n\n'

In [40]:
a.find('a')

2

In [41]:
a.find('ia')

-1

In [42]:
a.find('in')

9

In [43]:
a.count('i')

4

In [44]:
a.count('x')

0

In [45]:
a

'i am working with ineuron'

In [46]:
l = a.split()

In [47]:
l

['i', 'am', 'working', 'with', 'ineuron']

In [48]:
l[0]

'i'

In [49]:
l[1]

'am'

In [50]:
l[2]

'working'

In [51]:
l[0:3]

['i', 'am', 'working']

In [52]:
a.split('wo')

['i am ', 'rking with ineuron']

In [53]:
a

'i am working with ineuron'

In [54]:
a.upper()

'I AM WORKING WITH INEURON'

In [55]:
s = "sUdh"

In [56]:
s.swapcase()

'SuDH'

In [57]:
s.title()

'Sudh'

In [58]:
s.capitalize()

'Sudh'

In [59]:
b = "sudh"
c = "ineuron"

In [60]:
b.join(c)

'isudhnsudhesudhusudhrsudhosudhn'

In [61]:
" ".join("sudh")

's u d h'

In [62]:
for i in reversed("sudh"):
    print(i)

h
d
u
s

In [63]:
s= "sudh"
s[::-1]

'hdus'

In [64]:
s = " sudh "

In [65]:
s.rstrip()

' sudh'

In [66]:
s.lstrip()

'sudh '

In [67]:
s.strip()

'sudh'

In [68]:
s = "sudh"

In [69]:
s.replace("t" , "xyz")

'sudh'

In [70]:
"sudh\tkumar".expandtabs()

'sudh    kumar'

In [71]:
s= "sudh"

In [72]:
s.center(40 , '#')

'##################sudh##################'

In [73]:
b="      indians are the best in the world"
b.strip("are")

'      indians are the best in the world'

In [74]:
b="      indians are the best in the world"
b.strip()

'indians are the best in the world'

In [75]:
s = "SUDH"

In [76]:
s.isupper()

True

In [77]:
s.islower()

False

In [78]:
s= "     "

In [79]:
s.isspace()

True

In [80]:
s = "43543"

In [81]:
s.isdigit()

True

In [82]:
s = "sudh"

In [83]:
s.endswith('x')

False

In [84]:
s.startswith('s')

True

In [85]:
s.istitle()

False

In [87]:
s.encode()
# by default utf encoding will be applied here

b'sudh'

In [88]:
s = "sdfsaf dsaf safasdf asdfsadfdas fadf dfa fadfa dsaf adfsa"

In [89]:
l = ["sudh" , "kumar" , 3543 , 4+6j , True , 345.56]

In [90]:
type(l)

list

In [91]:
l[0]

'sudh'

In [92]:
l[-1]

345.56

In [93]:
l[-5]

'kumar'

In [94]:
l

['sudh', 'kumar', 3543, (4+6j), True, 345.56]

In [95]:
l[0:4]

['sudh', 'kumar', 3543, (4+6j)]

In [96]:
l[::-1]

[345.56, True, (4+6j), 3543, 'kumar', 'sudh']

In [97]:
l[-1:6]

[345.56]

In [98]:
type(l[0])

str

In [99]:
type(l[4])

bool

In [100]:
l[0][1]

'u'

In [101]:
l[3].imag

6.0

In [102]:
l1 = ["sudh" , "kumar" , 4356]
l2 = ["xyz" , "pqr" , 546.567]

In [103]:
l1+l2

['sudh', 'kumar', 4356, 'xyz', 'pqr', 546.567]

In [104]:
l1 + ["sudh"]

['sudh', 'kumar', 4356, 'sudh']

In [105]:
l1*2

['sudh', 'kumar', 4356, 'sudh', 'kumar', 4356]

In [106]:
# Lists are mutable but whereas strings are immutable.
#  List index can be changed but a string index cannot be changed.Bcause strings are immutable entity.
# immutable entities means cannot be modified

In [107]:
l1

['sudh', 'kumar', 4356]

In [108]:
l1[0] =4356455634564

In [109]:
l1

[4356455634564, 'kumar', 4356]

In [110]:
s = "sudh"

In [111]:
s[0] = "k"

TypeError: 'str' object does not support item assignment

In [112]:
l1

[4356455634564, 'kumar', 4356]

In [113]:
l1[1] = "sudh"

In [114]:
l1

[4356455634564, 'sudh', 4356]

In [115]:
# when coming to strings, string index cannot be modified at the same address .string index can be modified at another address.
# so string is immutable. 
# But coming to list in the same address as before the list value of particular index can be changed.
# if we could change a value of index in the same address then we say that it is mutable.
# In strings we cannot change the string value of particular index at the same address so strings are immutable.

In [116]:
s.replace('s','v')
# this creates new reference.

'vudh'

In [117]:
# In the new address it is changing.

In [118]:
s

'sudh'

In [120]:
s[0] = 'v'
# In the same address we are unable to change so string is immutable .

TypeError: 'str' object does not support item assignment

In [121]:
l1

[4356455634564, 'sudh', 4356]

In [122]:
len(l1)

3

In [123]:
 'sudh' in l1

True

In [124]:
l = ['okay','kumar', 78,45,789,5.5,True, 5+8j]
l[-1:6:-1]

[(5+8j)]

In [125]:
l2

['xyz', 'pqr', 546.567]

In [126]:
l2.append("sudh")
# append function is to add at the end .

In [127]:
l2
['xyz','pqr','sudh']

['xyz', 'pqr', 'sudh']

In [128]:
l2.pop()
# By default pop function removes last index by default. 
#But we can remove any element by mentioning index in pop function.

'sudh'

In [129]:
l2.pop(3)

IndexError: pop index out of range

In [130]:
l2.pop(2)

546.567

In [131]:
l2

['xyz', 'pqr']

In [132]:
l2

['xyz', 'pqr']

In [133]:
l2.append(345435)

In [134]:
l2

['xyz', 'pqr', 345435]

In [135]:
l2.insert(1,"dsgadfgda")
# At which index the new item should be added and what is to be added at that particular index.

In [136]:
l2

['xyz', 'dsgadfgda', 'pqr', 345435]

In [137]:
l2.insert(3,[34,45,56,576,67])

In [138]:
l2

['xyz', 'dsgadfgda', 'pqr', [34, 45, 56, 576, 67], 345435]

In [139]:
l2[::-1]
# To reverse the list.

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [140]:
l2.reverse()
# To reverse the list.

In [141]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [142]:
l1

[4356455634564, 'sudh', 4356]

In [143]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [144]:
l2[1][2]

56

In [145]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz']

In [146]:
l2.count('xfddsfsfyz')

0

In [147]:
l2.append("dssafasf")

In [148]:
l2

[345435, [34, 45, 56, 576, 67], 'pqr', 'dsgadfgda', 'xyz', 'dssafasf']

In [149]:
l2.append([3,4,54,6])

In [150]:
l2

[345435,
 [34, 45, 56, 576, 67],
 'pqr',
 'dsgadfgda',
 'xyz',
 'dssafasf',
 [3, 4, 54, 6]]

In [151]:
l1

[4356455634564, 'sudh', 4356]

In [152]:
l1.extend([2,54,656, "sdfs"])

In [153]:
l1

[4356455634564, 'sudh', 4356, 2, 54, 656, 'sdfs']

In [154]:
print(l2.reverse())
# print function return nothing

None

In [155]:
s

'sudh'

In [156]:
s.endswith("h")

True

In [157]:
s.endswith("")

True

In [158]:
l = ["sudh " , 345,4354353,4353]

In [159]:
l.append("kumar")

In [160]:
l

['sudh ', 345, 4354353, 4353, 'kumar']

In [161]:
l.append([2,3,4,5,6])
# append function means the item will be added at the end of the list.
# Item will be added as the same without modification.

In [162]:
l

['sudh ', 345, 4354353, 4353, 'kumar', [2, 3, 4, 5, 6]]

In [163]:
l.extend([1,2,3,4])

In [164]:
# Extend function unwraps the iterable object and then do concatenation.
# We have added a list containing elements 1,2,3,4

In [165]:
l
# but the elements present in a list was added as item in the final list because extend function unwraps elements.

['sudh ', 345, 4354353, 4353, 'kumar', [2, 3, 4, 5, 6], 1, 2, 3, 4]

In [166]:
[2,3,4,4,5,76]  + [4,5,6,77]

# this is called the concatenation of the lists.

[2, 3, 4, 4, 5, 76, 4, 5, 6, 77]

In [167]:
"fdsaffsafsafd afsa saf asdfa sdsaf afsad ".split('&')

['fdsaffsafsafd afsa saf asdfa sdsaf afsad ']

In [168]:
l1=[43,4343]
l1+list("sudh")

[43, 4343, 's', 'u', 'd', 'h']

In [169]:
list("sudh")

['s', 'u', 'd', 'h']

In [170]:
l1+["sudh"]

[43, 4343, 'sudh']

In [171]:
list("sudh")
l3=[43,4343,'sudh']
l3+""

TypeError: can only concatenate list (not "str") to list